/**
 * Created by raineran16 on 24.04.2017.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 20px;
    background-color: #d7cec7;
    color: #565656;
    margin: 5%;
    cursor: default;
}

header>h1 {
    color: #76323f;
    font-size: 4rem;
}

.sessionlength {
    font-size:2rem;
    font-weight: 300;
}

.minus, .plus {
    background-color: #d7cec7;
    color: #565656;
    font-size:2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

section .titleTimer {
    padding-top: 2rem;
    font-size: 3rem;
}

section .timer #timeLeft {
    font-weight: 300;
}

section .timer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 16rem;
    height: 16rem;
    font-size: 4em;
    border-radius: 50%;
    background: #C09F80;
    cursor: pointer;
}


/* http://dabblet.com/gist/3949571 */
.arc {
    overflow: hidden;
    position: absolute;
    top: -2rem; right: 50%; bottom: 50%; left: -2rem;
    transform-origin: 100% 100%;
    transform: rotate(90deg) skewX(30deg);
}
.arc:before {
    box-sizing: border-box;
    display: block;
    border: solid 2rem #76323f;
    width: 200%; height: 200%;
    border-radius: 50%;
    transform: skewX(-30deg);
    content: '';
}
section .fill {
    content: '';
    position: absolute;
    background: #C09F80;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}